/*

.color-primary-0 { color: #16A085 }
.color-primary-1 { color: #5AC3AF }
.color-primary-2 { color: #34AC94 }
.color-primary-3 { color: #03876D }
.color-primary-4 { color: #006A55 }

.color-secondary-1-0 { color: #FAAB22 }
.color-secondary-1-1 { color: #FFCC76 }
.color-secondary-1-2 { color: #FFBD4D }
.color-secondary-1-3 { color: #D28605 }
.color-secondary-1-4 { color: #A66900 }

.color-secondary-2-0 { color: #EE213D }
.color-secondary-2-1 { color: #F77285 }
.color-secondary-2-2 { color: #F44961 }
.color-secondary-2-3 { color: #C8041F }
.color-secondary-2-4 { color: #9E0016 }

 */


body {
    padding-top: 65px;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #16a085;
}

a:hover, a:focus, a:active, a:focus:active {
    text-decoration: none;
}

.nav-pills {
    margin-bottom: 1rem;
}

.menu {
    padding: 1rem;
    background-color: #16a085;
}

.menu .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 1.45rem;
}

.menu .btn-secondary {
    color: #16a085;
    background-color: #fff;
    border: none;
}

.menu .navbar-nav a {
    font-size: 0.85rem;
    text-transform: uppercase;
}

.cover {
    background-image: url(../img/photos/shutterstock_380928496-1280.jpg);
    background-size: cover;
    background-position: center;
    font-size: 4rem;
    text-align: center;
    color: #FFF;
    border-bottom: .3rem solid #16a085;
}

.cover .overlay {
    padding: 2rem;
}

.module {
    margin: 0 0 2rem;
}

.table-hash {
    margin-bottom: 0;
}

.table-hash tr td:last-child {
    text-align: right;
}

.breadcrumbs {
    background-color: #eceeef;
    margin-bottom: 1rem;
}

.breadcrumbs .breadcrumb {
    background: transparent;
    margin: 0;
    padding-left: 0;
}

.calendar {
    text-align: center;
    margin: 2rem 0;
}

.underline-heading  {
    border-bottom: 1px solid #DDD;
    padding-bottom: 1rem;
}

/*
.module.languages a {
    color: #43B7B7;
}

.module.languages .card {
    border-bottom: 3px solid #43B7B7;
}

.module.languages .icon {
    background: #43B7B7;
}

.module.programming a {
    color: #8e44ad;
}

.module.programming .card {
    border-bottom: 3px solid #8e44ad;
}

.module.programming .icon {
    background: #8e44ad;
}
*/

.round-icon {
    border-radius: 50%;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    line-height: 1rem;
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding-top: 0.5rem;
    margin-right: .75rem;
    background-color: #16a085;
}

.module .card {
    border-bottom: 3px solid #16a085;
    margin-bottom: 2rem;
}

.title {
    margin-bottom: 1rem;
    font-weight: bold;
}

.module .teachers .avatars {
    float: left;
    margin-right: 2rem;
}

.module .teachers .avatars img {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: -1rem;
}

.module .teachers .meta {
    line-height: 1;
    padding-top: .25rem;
}

.card-deck-wrapper + .card-deck-wrapper {
    margin-top: 2rem;
}

.card-cover-top {
    min-height: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page {
    padding: 1rem 0;
}


.unit .name {
    color: #9d9e9f;
    background: #f5f7f8;
    padding: 1rem;
    border-radius: 4px;
    font-weight: bold;
}

.unit .name .count {
    display: inline-block;
    float: right;
}

.unit .nav-stacked li {
    padding: 1rem;
    border-bottom: 1px solid #f5f7f8;
}

.unit .nav-stacked li:last-child {
    border-bottom: 0;
}


footer {
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
    background: #373a3c;
}

footer a {
    color: #FFF;
}

footer a:hover {
    color: #FFF;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .social {
    text-align: center;
}

footer .social .title {
    margin-bottom: 2rem;
}

footer .social .networks a {
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    display: inline-block;
    padding-top: 0.5rem;
    line-height: 1;
    font-size: 1.25rem;
    margin-right: .5rem;
}

footer .social .networks a:last-child {
    margin-right: 0;
}

footer .copyright {
    text-align: center;
    padding-top: 2rem;
}



/* Schedule */

.schedule .title {
    margin: 0;
}

.schedule .card {
    border: none;
}

.schedule .card .card-block {
    border: 1px solid #DDD;
    border-top: none;
}

.schedule .card .card-header {
    background: #16a085;
    color: #FFF;
    border: none;
    text-align: center;
}

.schedule .card .card-header .round-icon {
    color: #16a085;
    background: #FFF;
}

.schedule .card .card-header .back {
    color: #FFF;
    font-size: 1.5rem;
    margin-top: .5rem;
    display: block;
}

.schedule th {
    text-align: center;
}

.rating .fa {
    color: #F1C40F;
}

.teachers {
    margin-bottom: 1rem;
}

.teachers .media-body {
    padding-top: 0.75rem;
    padding-left: 1rem;
}